
Audio Visualizer/bin/Glow.wav
Audio Visualizer/bin/Everything.wav
Audio Visualizer/bin/Black Sabbath.wav
Audio Visualizer/bin/frequency.wav
Audio Visualizer/bin/hot girl bummer.wav
Audio Visualizer/bin/Merry Go Round of Life.wav
Audio Visualizer/bin/Oscilloscope2.wav
Audio Visualizer/bin/Shelter.wav
Audio Visualizer/bin/Wake Up.wav
Audio Visualizer/bin/xanny.wav
